.card{
    background: cornsilk;
}
.navbar   {
    margin-top: 3rem;
}
.nav-link{
    font-size: 19px;
    color: black;
}

.index{
    margin:auto;
}
.carousel{
    max-width: 98%;
    margin: auto;

}
.swiper-container{
    border-radius: 1.2rem;
}

.my-3{
    max-width: 90%;
    
}
.item img{
    width: 90%;
}
.product_blog_cont h3{
    font-size: 1.5rem;
    text-align: center;
}

.container{
    margin: auto;
    max-width: 75%;    
}

.row{
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#tinggi{
    height: 30rem;
}

.middle{
    font-family: 'Roboto Condensed', sans-serif;;
}

.row-menu {width: 60rem;
}
.comment{
    margin-left: 4rem;
    width: 80rem;
}

#menuu {
     margin-left: -4rem;
    }
    
.center {
    margin-left: 0.5rem;
    margin-bottom: 2px;
}
.container1{
    margin-bottom: 100px;
}

.data{
    
    align-items: center;
}
.komen{
    margin-top: 5rem; 
    width: 60%;
    margin-left: 3rem;
}
#navbarContent{
    margin-left: 20rem;
}


@media only screen and (max-width: 414px) {
    .center{
        margin-left: 3rem;
    } 
    #navbarContent{
        margin-left: 0rem;
    }
    .navbar   {
        margin-bottom: 4rem;
    }
    .menus figure{
        width: 20%; 
        
    }
    .card-img-overlay{
        width: 20%;
    }
    #maps{
        margin-top: 2rem;
    }

    .maps iframe{
        width: 280px; 
        height: 200px;
        margin-left: -1rem;
    }

    .desc{
        width: 17rem;
        margin-left: -1rem;
    }

    .row .col-lg-5{
        margin-left: 1rem;
    }

    .menu-row{
        width: 40%;
    }
    #menuu{
        margin-left: -5.3rem;
        width: 42%;
    }
    .ourheading h2{
        text-align: center;
        margin-bottom: -1.7rem;
    }
    #high1{
        margin-left: 1.1rem;
    }
    .col-lg-6{
        margin-top: -2rem;
    }
    .item h3{
        font-size: 1rem;
    }
    .container1{
        margin-bottom: 8rem;
    }
    .gmbr{
        margin-top: 3rem;
    }
    .swiper-slide img{
        margin-left: -1rem;

    }
    .swiper-wrapper{
        margin-top: 1rem;
    }
    
    #sushi img{
        margin-top: 2rem;
    }
    .comment{
        margin-left: 1.2rem;
        width: 20rem;
    }    
    .desc {
        margin-left: -0.1rem;
    }
    .alamat{
        margin-top: 3.5rem;
    }
    .peta{
        margin-left: -0.5rem;
        margin-top: 0.6rem;
        width: 300px;
    }
    .menuss{
        margin-bottom: 2rem;
        width: 1rem;
    }
    .menuss h3{
        font-size: 10px;
    }
    .menuss h2{
        margin-left: 6rem;
    }

    #menuus{
        margin-left: -3.3rem;
    }
    .product_blog_cont{
        width: 5rem;
    }
    .desk{
        margin-top: 3rem;
    }
    .komen{
        margin-top: 5rem; 
        width: 80%;        
        margin-left: -0.5rem;
    }
    header{
        margin-bottom: 4rem;
    }
    

}

@media only screen and (max-width: 375px) {
    .center{
        margin-left: 3rem;
    } 
    #navbarContent{
        margin-left: 0rem;
    }
    .navbar   {
        margin-bottom: 4rem;
    }
    .menus figure{
        width: 20%; 
        
    }
    .card-img-overlay{
        width: 20%;
    }
    #maps{
        margin-top: 2rem;
    }

    .maps iframe{
        width: 280px; 
        height: 200px;
        margin-left: -1rem;
    }

    .desc{
        width: 17rem;
        margin-left: -1rem;
    }

    .row .col-lg-5{
        margin-left: 1rem;
    }

    .menu-row{
        width: 40%;
    }
    #menuu{
        margin-left: -5.3rem;
        width: 42%;
    }
    .ourheading h2{
        text-align: center;
        margin-bottom: -1.7rem;
    }
    #high1{
        margin-left: 1.1rem;
    }
    .col-lg-6{
        margin-top: -2rem;
    }
    .item h3{
        font-size: 1rem;
    }
    .container1{
        margin-bottom: 8rem;
    }
    .gmbr{
        margin-top: 3rem;
    }
    .swiper-slide{
        margin-top: 3rem;
    }
    .swiper-slide img{
        margin-left: -1rem;

    }
    .swiper-wrapper{
        margin-top: 5rem;
    }
    
    #sushi img{
        margin-top: 2rem;
    }
    .comment{
        margin-left: 1rem;
        width: 20rem;
    }    
    .desc {
        margin-left: -0.1rem;

    }
    #desc h4{
        margin-top: 2rem;
    }
    .alamat{
        margin-top: 3.5rem;
    }
    .peta{
        margin-left: -0.5rem;
        margin-top: 0.6rem;
        width: 300px;
    }
    .menuss{
        margin-bottom: 10rem;
        
    }
    .menuss h3{
        font-size: 10px;
    }
    .menuss h2{
        margin-left: 6rem;
    }

    #menuus{
        margin-left: -3.3rem;
        margin-bottom: -3rem;
    }
    .product_blog_cont{
        width: 5rem;
    }
    .product_blog_cont h3{
        font-size: 2px;
        color: black;
    }
    .desk{
        margin-top: 3rem;
    }
    .komen{
        margin-top: 5rem; 
        width: 80%;        
        margin-left: -1rem;
    }
    header{
        margin-bottom: 4rem;
    }
    .product_blog_img img{
        width: 70%;
        margin-left: 0px;
    }
    .container2{
        width: 30%;
    }
    
    

}

@media only screen and (max-width: 768px) {
    .comment{
        margin-left: -4rem;
        width: 60rem;
    }
    .product_blog_cont h3{
        font-size: 14px;
    }
}